<%- include('head'); -%>
<%- include('sidebar'); -%>
<%- include('header'); -%>


<div class="content-wrap">

  <div class="main">
    <div class="container-fluid">

      <!-- /# row -->
      <section id="main-content">
        <div class="row">

          <div class="col-lg-12">

            <div class="card">
              <div class="card-title">
                <h3>Home</h3>
              </div>
              <br>
              <!-- Formulário -->

            </div>
          </div>

        </div>
      </section>
    </div>
  </div>
</div>

<%- include('importScript'); -%>

</body>

</html>