<%- include('head'); -%>
<%- include('sidebar'); -%>
<%- include('header'); -%>


<div class="content-wrap">

  <div class="main">
    <div class="container-fluid">

      <!-- /# row -->
      <section id="main-content">
        <div class="row">

          <div class="col-lg-12">

            <div class="card">
              <div class="card-title">
                <h3 id="title"></h3>
              </div>

              <h6 id="resultado">

              </h6>
            </div>
          </div>

        </div>
      </section>
    </div>
  </div>
</div>

<%- include('importScript'); -%>

<script src="/js/resultDeleteScript.js"></script>

</body>

</html>