<!-- Side Bar -->
<div class="sidebar sidebar-hide-to-small sidebar-shrink sidebar-gestures">
    <div class="nano">
        <div class="nano-content">
            <div class="logo"><a href="/">
                    <!-- <img src="assets/images/logo.png" alt="" /> --><span>FASTENetwork</span></a></div>
            <ul>
                <li><a href="/"><i class="ti-home"></i> Home </a></li>
                <li><a href="/cadastrarRede"><i class="ti-vector"></i> Cadastrar Nova Rede </a></li>

                <!-- Listar todas as redes -->

                <li><a href="/listarRedes"><i class="ti-menu-alt"></i>Redes</a></li>
            </ul>
        </div>
    </div>
</div>
<!-- /# sidebar -->